@font-face {
  font-family: 'SFProDisplay';
  font-weight: 300;
  font-style: normal;
  src: local('SFProDisplay-Light'), 
    url('../fonts/SFProDisplay-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 400;
  font-style: normal;
  src: local('SFProDisplay-Regular')
    url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 500;
  font-style: normal;
  src: local('SFProDisplay-Medium'),
    url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'SFProDisplay';
  font-weight: 600;
  font-style: normal;
  src:local('SFProDisplay-Semibold'),
    url('../fonts/SFProDisplay-Semibold.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'SFProDisplay';
  font-weight: 700;
  font-style: normal;
  src: local('SFProDisplay-Bold'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'MorebiRounded-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('MorebiRounded-Regular'),
    url('../fonts/MorebiRounded-Regular.woff') format('woff');
  font-display: swap; 
}
@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  font-style: normal;
  src:local('Mulish-Regular'),
    url('../fonts/Mulish-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  font-weight: 800;
  font-style: normal;
  src: local('Mulish-Black'),
    url('../fonts/Mulish-Black.woff') format('woff');
  font-display: swap;
}