@media(max-width:1400px){
  .menu{
    padding: 0 10px;
  }
  .container{
    padding:0 10px;
  }
  .global{
    background-size: cover;
    background-position: center center;
  }
}
@media(max-width:1100px){
  .statistic{
    padding: 0;
    &__inner{
      justify-content: space-around;
    }
  }
}
@media(max-width:1020px){
  .about{
    &__item{
      flex-direction: column;
      margin: 0 auto 30px;
      padding: 10px;
    }
    &__item--right{
      flex-direction: column-reverse;
    }
    &__item-img,
    &__item-content{
      margin: 0 auto;
    }
    &__item-content{
      padding: 40px 10px 15px;
    }
    &__item-content--right{
      text-align: right;
    }
    &__item-text{
      max-width: none;
    }
    &__item-decor{
      display: none;
    }
    &__item-title--left{
      position:relative;
      &::before{
        content:'';
        position:absolute;
        width: 24px;
        height: 24px;
        background-image: url('../images/about/about-decor.svg');
        top:-115px;
        left:-10px;
      }
      &::after{
        content:'';
        position:absolute;
        width: 1px;
        height: 75px;
        background-color: $link;
        left: 0;
        top: -80px;
      }
    }
    &__item-title--right{
      position:relative;
      &::before{
        content:'';
        position:absolute;
        width: 24px;
        height: 24px;
        background-image: url('../images/about/about-decor.svg');
        top:-115px;
        right: -10px;
      }
      &::after{
        content:'';
        position:absolute;
        width: 1px;
        height: 75px;
        background-color: $link;
        top: -80px;
        right: 0;
      }
    }
  }
  .contact{
    padding: 70px 0;
    &__inner{
      flex-direction: column;
      margin: 0 auto;
    }
    &__detail,
    &__subscription{
      width: 80%;
      margin: 0 auto;
    }
  }
}
@media(max-width:760px){
  .header{
    background: rgba(21, 21, 21, 1);
  }
  .menu-btn{
    & .menu-btn__text{
      display: none;
    }
  }
  .menu-desc{
    display: none;
    &__logo-link{
      top: 20px;
    }
  }
  .mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-5;
    opacity:0;
    background-color: #000;
    color:#fff;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    &.mobile-menu--active{
      z-index:5;
      opacity:1;
      transform: translateX(0);
      transition: all 1s;
    }
  }
  .title{
    font-size: 42px;
    line-height: 50px;
  }
  .first{
    &__title{
      margin-bottom: 30px;
    }
    &__linkbox{
      flex-direction: column;
    }
    &__link{
      margin-bottom: 20px;
    }
  }
  .about{
    padding-top: 70px;
    &__title{
      margin-bottom: 30px;
    }
    &__subtitle{
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 60px;
    }
  }
  .promo{
    padding-bottom: 20px;
    &__inner{
      min-height: 720px;
    }
  }
  .global{
    padding: 100px 0 100px;
  }
  .contact{
    padding: 30px 0;
    &__form-label{
      margin: 30px auto;
    }
    &__form-btn{
      display: block;
      margin: 0 auto;
      padding: 25px 25px;
    }
  }
  .social{
    display: block;
  }
  .footer{
    &__inner{
      display: none;
    }
  }
}
@media(max-width:420px){
  .about{
    &__item-decor{
      &::after{
        height: 60px;
      }
    }
  }
  .global{
    padding: 60px 0 60px;
  }
  .contact{
    &__detail,
    &__subscription{
      width: 100%;
      margin: 0 auto;
    }
  }
  
}